<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>NUMBER</th>
          <th>PIPE NAME</th>
          <th>DATA INPUT</th>
          <th>OUTPUT DATA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>UPPERCASE</td>
          <td>{{content}}</td>
          <td>{{content | uppercase}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>LOWERCASE</td>
          <td>{{content}}</td>
          <td>{{content | lowercase}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>SLICE</td>
          <td>{{title}}</td>
          <td>{{title | slice: 6:13}}</td>
        </tr>
        <tr>
          <td>4</td>
          <td>CURRENCY</td>
          <td>money</td>
          <td>{{money | currency:'$'}}</td>
        </tr>
        <tr>
          <td>5</td>
          <td>DATE</td>
          <td>{{today}}</td>
          <td>{{today | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
        </tr>
        <tr>
          <td>6</td>
          <td>CREATE A PIPE</td>
          <td>{{content}}</td>
          <td>{{content | sort: 0: 23}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-first [number]="amount" (decrease)="onClick($event)"></app-first>
    </div>
    <div class="col-md-6">
      <app-second [number]="amount" (decrease)="onClick($event)"></app-second>
    </div>
  </div>
</div>
